#members {
  font-family: "Poppins", sans-serif;
  margin-top: 230px;
  margin-bottom: 30px;
  h1{
    color: #1876c9;
    font-size: 30px;
  }
  a {
    display: flex;
    align-items: center;
    margin-top: 60px;
    img {
      width: 110px;
    }
    p {
      margin-left: 18px;
      color: #1876c9;
      font-size: 16px;
    }
  }
}
