#mualicePage {
    padding-bottom: 80px;

    .container {

        .text {

            h3 {
                margin: 0;
            }

            p {
                font-weight: 600;
            }
        }
    }
}