#mualicePage {
    padding: 0 10px 40px 10px;

    .container {

        .text {

            h3 {
                margin: 0;
            }

            p {
                font-weight: 600;
            }
        }
    }
}