#colleaguesComponent {
  padding: 0 10px;

  .alice-carousel__wrapper {
    margin-top: 2rem;
    background-color: white;
    height: 120px;
    padding: 20px;

    ul {
      text-align: center;
    }

    .item {
      img {
        height: 70px;
      }

      @media only screen and (max-width: 768px) {
        width: 100% !important;
      }
    }
  }

  .alice-carousel__prev-btn {
    display: none;
  }

  .alice-carousel__next-btn {
    display: none;
  }
}