#carousel {
  img {
    height: 700px;
    object-fit: cover;
    width: 100%;
  }

  .carouselContent {
    font-family: "Mulish", sans-serif;
    position: absolute;
    bottom: 80px;
    background-color: #1876c9;
    border-radius: 6px;
    text-align: center;
    width: auto;
    padding: 5px 10px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    margin-left: 100px;
  }
}
