main {
    font-family: "Poppins", sans-serif;
    background-color: #f1efef;

    h1 {
        color: #1876c9;
        font-weight: bold;
    }

    #section2 {
        margin-top: 2rem;
        padding: 0 10px;

        @media only screen and (max-width: 1014px) {
            .servicesCards {
                justify-content: space-evenly !important;

                a {
                    min-width: 300px !important;
                }
            }
        }

        @media only screen and (max-width: 630px) {
            .servicesCards {
                flex-direction: column !important;

                a {
                    width: 100% !important;

                    &.card {
                        height: 280px !important;
                        padding: 75px 30px !important;
                        font-size: 24px !important;

                        i {
                            font-size: 70px !important;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 450px) {
            .servicesCards {
                a {
                    &.card {
                        height: 210px !important;
                        padding: 50px 30px !important;
                        font-size: 20px !important;

                        i {
                            font-size: 60px !important;
                        }
                    }
                }
            }
        }

        .servicesCards {
            margin-top: 2rem;
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            a {
                text-decoration: none;
                transition: all 0.5s;
                min-width: 240px;

                &.card {
                    margin-top: 10px;
                    width: 24%;
                    height: 180px;
                    padding: 40px 30px;
                    color: #1876c9;
                    border-radius: 20px;
                    font-size: 18px;
                    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                    text-align: center;

                    i {
                        font-size: 35px;
                        padding: 0 0 15px 0;
                    }

                    &:hover {
                        background-color: #1876c9;
                        color: #f1efef;
                    }
                }
            }


        }

    }

    #section3 {
        margin-top: 2rem;
        padding: 0 10px;

        @media only screen and (max-width: 630px) {
            .projectsCards {
                flex-direction: column !important;

                a {
                    width: 100% !important;

                    &.card {
                        height: 280px !important;
                        padding: 75px 30px !important;
                        font-size: 24px !important;

                        i {
                            font-size: 70px !important;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 450px) {
            .projectsCards {
                a {
                    &.card {
                        height: 210px !important;
                        padding: 50px 30px !important;
                        font-size: 20px !important;

                        i {
                            font-size: 60px !important;
                        }
                    }
                }
            }
        }

        .projectsCards {
            margin-top: 2rem;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            gap: 10px;
            flex-wrap: wrap;

            a {
                text-decoration: none;
                transition: all 0.5s;

                &.card {
                    margin-top: 10px;
                    width: 24%;
                    min-width: 300px;
                    height: 180px;
                    padding: 40px 30px;
                    color: #1876c9;
                    border-radius: 20px;
                    font-size: 18px;
                    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                    text-align: center;

                    i {
                        font-size: 35px;
                        padding: 0 0 15px 0;
                    }

                    &:hover {
                        background-color: #1876c9;
                        color: #f1efef;
                    }
                }
            }


        }
    }

    #section4,
    #section5,
    #section6 {
        margin-top: 2rem;
    }

    #section7{
        text-align: center;
        padding: 0 10px 20px 10px;

        a{
            color: #422800;
            border: 2px solid #422800;
            border-radius: 10px;
            padding: 8px 20px;
            line-height: 60px;
            font-weight: 800;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                background-color: #fff;
            }
        
        }
    }
}