footer {
  font-family: "Poppins", sans-serif;

  .footer {
    .footer_top {
      background-color: #2e3131;
      padding: 70px 0;

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo_menu {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            img {
              width: 110px;
            }
          }

          .menu {
            display: flex;
            justify-content: end;

            ul {
              margin-left: 40px;

              li {
                line-height: 45px;
                margin-left: 10px;
                font-size: 16px;

                a {
                  color: white;
                }
              }
            }
          }
        }

        .contact_social {
          .contact {
            color: #fff;
            font-size: 13px;

            p {
              line-height: 16px;
              letter-spacing: 1px;
            }
          }

          .social_bar {
            color: #fff;
            margin-top: 20px;

            ul {
              display: flex;
              justify-content: space-between;

              // padding: 0;
              li {
                cursor: pointer;
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                font-size: 15px;
                border-radius: 100%;
                display: grid;
                place-items: center;
<<<<<<< HEAD
              cursor: pointer;
=======

>>>>>>> b5ae91f70a3553f4afbc0b9a08a924b37a23cc43
                &:hover {
                  background: #fff;
                  color: #0672aa;
                }
              }

            }
          }
        }
      }
    }

    .footer_bottom {
      font-size: 14px;
      padding: 20px;
      background-color: #1876c9;
      text-align: center;
      color: white;
    }
  }
}