footer {
  font-family: "Poppins", sans-serif;

  .footer {
    @media only screen and (max-width: 850px) {
      .footer_top {
        padding: 40px 10px !important;

        nav {
          flex-direction: column;

          .logo_menu {
            .menu {
              ul {
                li {
                  font-size: 14px !important;
                }
              }
            }
          }

          .contact_social {
            padding-top: 50px;

            .contact {
              font-size: 12px !important;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 425px) {
      .footer_top {
        nav {
          .logo_menu {
            flex-direction: column;
            width: 100%;

            .menu {
              width: 100%;
              justify-content: center !important;
              gap: 80px;
              padding-top: 20px;

              ul {
                margin-left: 0 !important;
              }
            }
          }

          .contact_social {
            padding-top: 50px;

            .contact {
              font-size: 12px !important;
            }
          }
        }
      }

      .footer_bottom {
        font-size: 12px !important;
        padding: 15px !important;
      }
    }

    .footer_top {
      background-color: #2e3131;
      padding: 70px 10px;

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo_menu {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            img {
              width: 110px;
            }
          }

          .menu {
            display: flex;
            justify-content: end;

            ul {
              margin-left: 40px;

              li {
                line-height: 45px;
                margin-left: 10px;
                font-size: 16px;

                a {
                  color: white;
                }
              }
            }
          }
        }

        .contact_social {

          a {
            color: white;
            transition: all 0.5s;
            line-height: 25px;
            letter-spacing: 1px;

            &:hover {
              color: #0672aa;
            }
          }

          .contact {
            color: #fff;
            font-size: 13px;

            p {
              line-height: 25px;
              letter-spacing: 1px;
            }
          }

          .social_bar {
            color: #fff;
            margin-top: 20px;

            ul {
              display: flex;
              justify-content: space-between;

              // padding: 0;
              a {
                cursor: pointer;
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                font-size: 15px;
                border-radius: 100%;
                display: grid;
                place-items: center;
                cursor: pointer;

                &:hover {
                  background: #fff;
                  color: #0672aa;
                }
              }
            }
          }
        }
      }
    }

    .footer_bottom {
      font-size: 14px;
      padding: 20px;
      background-color: #1876c9;
      text-align: center;
      color: white;
    }
  }
}