#request {
    padding: 20px 10px;

    .request {
        margin-top: 2rem;

        h1 {
            color: #1876c9;
        }

        form {
            margin-top: 10px;

            div {
                font-size: 18px;
                padding: 10px 0;
            }

            label {
                margin-left: 20px;
            }

            .submitBtn {
                border: 2px solid #1876c9;
                border-radius: 10px;
                box-shadow: #1876c9 4px 4px 0 0;
                color: #422800;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                padding: 0 18px;
                line-height: 40px;
                font-weight: 700;
                margin: 20px 0;
                transition: all 0.3s;

                &:hover {
                    background-color: #fff;
                }

                &:active {
                    box-shadow: #422800 2px 2px 0 0;
                    transform: translate(2px, 2px);
                }
            }
        }
    }
}